@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: bangla;
  src: url(font/normal.woff2);
}
* {
  font-family: bangla;
}


.no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* WebKit browsers */
  }
  .parent {
    @apply w-11/12 m-auto py-4;
  }
  [x-cloak] { display: none !important; }
  @layer utilities {
    .instagram-gradient {
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }